// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$card-class-bg: #2D2D2D;
$card-event-bg: #2F2F2F;
$card-dark-bg: #2F2F2F;
$input-dark-bg: #222222;
$placeholder-bg: #DDDDDD;
$placeholder-bg2: #C4c4c4;
$placeholder-bg3:#3e3e3e;
$section-bg: rgba(255, 255, 255, 0.05);
$light-yellow: #FECC5D;
$heavy-yellow: #FE9E32;
$gradient-price-tag: linear-gradient(180deg, $light-yellow 0%, $heavy-yellow 100%);
$dark-gold: #C89E35;


// boostrap overrides
$primary: #E73A63;
$secondary: #F1B213;