.top-banner {
  width: 100%;
  height: 365px;
}

.status-member {
  margin-bottom: 30px;
}

.card-course {
  background-color: #2f2f2f;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 40px;
  padding-right: 40px;
  border-radius: 15px;
  margin-bottom: 50px;
}

.course-content-right {
  background-color: rgba(255, 255, 255, 0.25);
  height: 375px;
  display: flex;
  padding: 0;
  border-radius: 10px;
  flex-direction: column;
  overflow: hidden;
}

.course-content-right .course-content-body {
  flex: 1;
  padding: 28px;
  overflow-y: auto;
}

.course-content-body video {
  /* display: none; */
}

.course-progress {
  padding: 16px 28px;
  background-color: #424242;
}

.course-progress .course-progress-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
}

.course-progress .course-progress-bar {
  height: 18px;
  border-radius: 30px;
  width: 100%;
  background-color: #2f2f2f;
  overflow: hidden;
}

.course-progress .course-progress-bar-value {
  background: linear-gradient(180deg, #00C088 0%, #007C84 100%), linear-gradient(0deg, #00A368, #00A368);
  width: 2%;
  height: 100%;
  border-radius: 30px;
}

.row-1 img {
  border-radius: 5px;
  height: 240px;
  width: 100%;
  margin-bottom: 14px;
}

.btn-mulai {
  width: 100%;
  height: auto;
  color: white;
  background: #e73a63;
  border-radius: 5px;
}

.row-2 {
  vertical-align: top;
  display: inline-block;
  width: 69%;
  height: 340px;
  background: rgba(255, 255, 255, 0.25);
  mix-blend-mode: normal;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 30px;
  border-radius: 5px;
  overflow: auto;
}

/*INI YG LOCKED*/

.locked-courses {
  display: none;
  text-align: center;
  padding-top: 100px;
  padding-bottom: 100px;
  position: absolute;
  width: 1350px;
  height: 450px;
  top: -1px;
  left: -25px;
  right: -25px;
  background-color: rgba(0, 0, 0, 0.8);
}

.locked-courses h3 {
  font-weight: bold;
  font-size: 24px;
  line-height: 50px;
}

.locked-courses .btn-locked {
  background: linear-gradient(180deg, #fecc5d 0%, #fe9e32 100%);
  width: 345px;
  height: 55px;
  font-weight: bold;
  font-size: 18px;
}

.container.page {
  text-align: center;
  padding: unset;
}

.pagination {
  display: inline-block;
  background-color: #2d2d2d;
  width: 300px;
  height: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.pagination a {
  color: #ffffff;
  padding: 8px 16px;
  font-weight: bold;
  font-size: 14px;
  line-height: 28px;
}

.pagination a:hover {
  text-decoration: none;
}

.pagination a.active {
  background: linear-gradient(180deg, #fecc5d 0%, #fe9e32 100%);
  color: white;
  border-radius: 5px;
}

.pagination a:hover:not(.active) {
  background-color: #ddd;
  border-radius: 5px;
  text-decoration: none;
}

/* RESPONSIVE */

.card-course-res {
  background-color: #2F2F2F;
  padding: 20px;
  margin-top: 20px;
}

.card-course-res .card-body {
  background: rgba(255, 255, 255, 0.25);
  mix-blend-mode: normal;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-top: 10px;
  border-radius: 2.5px;
}

.card-course-res .btn {
  border-radius: 5px;
  width: 100%;
  color: white;
}

.container-card-res {
  display: none;
}

.container-card-non-res {
  display: block;
}

@media (max-width: 900px) {
  .container,
  .container-course {
    padding: 20px 35px;
  }

  .container-card-non-res {
    display: none;
  }

  .container-card-res {
    display: block;
  }

  .top-banner {
    height: 11.23%;
    width: 100%;
  }

  .status-member {
    margin-bottom: 0;
  }

  .pagination a {
    padding: 4px 8px;
    font-weight: bold;
    font-size: 12px;
    line-height: 20px;
  }

  .pagination {
    width: 200px;
    height: 40px;
    padding-top: 5px;
    padding-bottom: 5px;
  }
}

/* card course responsive */

@media (max-width: 900px) {
  .container-card-res {
    display: block;
  }

  .container.inner {
    padding: 0;
  }

  .container-card-res .row-1 {
    width: 100%;
  }

  .container-card-res .row-1 img {
    width: 100%;
    margin-bottom: 42px;
  }

  .container-card-res .card-course {
    width: 100%;
    padding: 18px;
  }

  .container-card-res .card-course .card-image {
    width: 100%;
    height: 0;
    padding-bottom: 50%;
    background-color: #ddd;
    background-size: cover;
    margin-bottom: 18px;
  }

  .container-card-res .row-2 {
    width: 100%;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 12px;
    padding-right: 12px;
    height: auto;
  }

  .container-card-res .card-title {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 0;
  }

  .container-card-res .subcourse {
    font-size: 14px;
  }

  .container-card-res .card-course .btn-mulai {
    color: white;
    background: #e73a63;
    border-radius: 5px;
    width: 100%;
    font-size: 10px;
  }

  .section-header {
    padding-top: 12px;
    padding-bottom: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .section-header .section-title {
    font-size: 18px;
    font-weight: bold;
  }

  .section-header .section-link {
    color: #fff;
    font-size: 14px;
  }

  .course-progress-responsive {
    padding-top: 8px;
    padding-bottom: 8px;
    margin-bottom: 12px;
    display: flex;
  }

  .course-progress-responsive-label {
    line-height: 16px;
    font-size: 12px;
  }

  .course-progress-responsive-value {
    flex: 1;
    padding-left: 12px;
  }

  .course-progress-responsive-bar {
    height: 18px;
    width: 100%;
    background-color: #2f2f2f;
    position: relative;
    border-radius: 30px;
    overflow: hidden;
  }

  .course-progress-responsive-bar-value {
    width: 1%;
    height: 100%;
    border-radius: 30px;
    background: linear-gradient(180deg, #00C088 0%, #007C84 100%), linear-gradient(0deg, #00A368, #00A368);
  }

  .course-progress-responsive-value-label {
    position: absolute;
    right: 12px;
    bottom: 5px;
    font-size: 12px;
    line-height: 8px;
  }
}


