hr {
  margin: 0;
  border-color: black;
}

/*FIXED BANNER*/

.top-banner {
  width: 100%;
  height: 11.23%;
}

/* TITLE */

.status-title {
  margin-bottom: 30px;
}

/*NGATUR CARD*/

.card-event {
  padding: 30px 35px;
  background-color: #2f2f2f;
  height: 500px;
  margin-right: auto;
}

.card-event .card-img-top {
  height: 41.67%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 5px 5px 0 0;
}

.card-event .card-body {
  background: rgba(255, 255, 255, 0.25);
  mix-blend-mode: normal;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 0 0 5px 5px;
}

/*Ngatur Price tagnya*/

.price-tag {
  background: linear-gradient(180deg, #fecc5d 0%, #fe9e32 100%);
  border-radius: 5px 0px 0px 5px;
  line-height: 35px;
  padding-left: 15px;
  padding-right: 15px;
  position: absolute;
  right: 35px;
  top: 32%;
  color: black;
}

.price-tag p {
  margin-bottom: 0px;
  font-weight: bold;
  font-size: 16px;
}

.price-tag span {
  text-decoration: line-through;
  opacity: 0.25;
  margin-left: 5px;
}

/*Card Body*/

.card-body {
  padding-bottom: 10px 13px;
}

.btn-daftar-event {
  background: #e73a63;
  border-radius: 5px;
  color: white;
}

/*Card All Event*/

.card-all-event {
  margin-bottom: 2em;
}

/*Pagination*/

.pagination {
  /* display: inline-block; */
  background-color: #2d2d2d;
  width: 400px;
  height: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.page nav {
  display: flex;
  justify-content: center;
}

/* .page {
  text-align: center;
}

.pagination {
  display: inline-block;
  background-color: #2d2d2d;
  width: 300px;
  height: 50px;

  padding-top: 10px;
  padding-bottom: 10px;
}

.pagination a {
  color: #ffffff;
  padding: 8px 16px;
  font-weight: bold;
  font-size: 14px;
  line-height: 28px;
}

.pagination a:hover {
  text-decoration: none;
}

.pagination a.active {
  background: linear-gradient(180deg, #fecc5d 0%, #fe9e32 100%);
  color: white;
  border-radius: 5px;
}

.pagination a:hover:not(.active) {
  background-color: #ddd;
  border-radius: 5px;
  text-decoration: none;
} */

/*Pagination*/

.page {
  text-align: center;
}

/* .pagination {
  display: inline-block;
  background-color: #2D2D2D;
  width: 400px;
  height: 70px;

  padding-top: 10px;
  padding-bottom: 10px;
} */

.pagination a {
  color: #FFFFFF;
  padding: 8px 16px;
  font-weight: bold;
  /* font-size: 24px;
  line-height: 50px; */
}

.page-item.active .page-link {
  background: linear-gradient(180deg, #FECC5D 0%, #FE9E32 100%) !important;
  color: white;
  border-color: transparent;
  border-radius: 5px;
}

body > div.container.page > nav > ul {
  display: flex;
  justify-content: center;
}

.page-item.disabled {
  display: flex;
  justify-content: center;
}

.page-link,
.page-item.disabled .page-link {
  background-color: transparent;
  border-color: transparent;
  margin: 0px 10px;
}

.pagination a:hover:not(.active) {
  background-color: #ddd;
  border-radius: 5px;
}

/* RESPONSIVE */

.container-card-res {
  padding: 25px 40px;
  background: #e5e5e5;
  background-color: #14110e;
  display: none;
}

.card-event-res {
  padding: 20px 10px;
  background: #2f2f2f;
  margin-bottom: 20px;
}

.card-event-res .card-title {
  margin-bottom: 5px;
}

.card-event-res .card-body {
  padding: 5px 15px;
  background: rgba(255, 255, 255, 0.25);
  mix-blend-mode: normal;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 0 0 5px 5px;
}

.price-event-res {
  height: 20px;
  width: 150px;
  background: linear-gradient(180deg, #fecc5d 0%, #fe9e32 100%);
  border-radius: 5px 0px 0px 0px;
  text-align: right;
  padding-right: 8px;
  line-height: 20px;
  letter-spacing: 4px;
  position: absolute;
  right: 10px;
  bottom: 103px;
  color: black;
}

.lihat-semua-res {
  font-size: 8px;
  justify-content: space-between;
}

#lihatSemuaEvent:hover {
  text-decoration: none;
  color: white;
}

@media (max-width: 767px) {
  .container-event {
    padding: 20px 35px;
  }

  .container-card-non-res {
    display: none;
  }

  .top-banner {
    height: 41.67%;
  }

  .page {
    display: none;
  }

  .container-card-res {
    display: block;
  }

  .card .btn {
    position: unset;
    border-radius: 5px;
    height: 15px;
    font-size: 8px;
    line-height: 0px;
    width: 100%;
    color: white;
  }

  .price-event-res {
    bottom: 103px;
  }
}


