/* TYPOGRAPHY */
body {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    color: white;
}

.container {
    max-width: 1519px;
    padding: 50px 100px;
    background-color: #14110E;
}

.display-heavy {
    font-weight: bold;
    font-size: 32px;
    line-height: 48px;
}

.display-light {
    font-weight: normal;
    font-size: 32px;
    line-height: 48px;
}

.headline-heavy {
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
}

.headline-light {
    font-weight: normal;
    font-size: 24px;
    line-height: 32px;
}

.title-heavy {
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
}

.title-heavy-res {
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
}

.title-light {
    font-weight: normal;
    font-size: 20px;
    line-height: 28px;
}

.title-light-res {
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
}

.subheader-heavy {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
}

.subheader-light {
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
}

.body-heavy {
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
}

.body-light {
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
}

.caption-heavy {
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
}

.caption-light {
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
}

.small-heavy {
    font-weight: 600;
    font-size: 10px;
    line-height: 14px;
}

.small-light {
    font-weight: normal;
    font-size: 10px;
    line-height: 14px;
}

.xs-heavy{
    font-style: normal;
    font-weight: bold;
    font-size: 8px;
}

.xs-light{
    font-style: normal;
    font-weight: 600;
    font-size: 8px;
}

/*FONT COLORS*/
.primary {
    color: #14110E;
}

.secondary {
    color: #C89E35;
}

.accent {
    color: #BD0760;
}

.critical {
    color: #CF3737;
}

.success {
    color: #13804B;
}

.warning {
    color: #E8B83E;
}


/*BUTTONS*/
.btn-pri-normal {
    background: #E73A63;
    border-radius: 15px;
}

.btn-gold-pri-normal{
    background: linear-gradient(180deg, #FECC5D 0%, #FE9E32 100%);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    border: none;
}

.btn-gold-sec-normal{
    background: linear-gradient(180deg, #FECC5D 0%, #FE9E32 100%);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    border: none;
    color: white;
}

.btn-pri-press {
    background: #B3002B;
    border-radius: 15px;
}

.btn-pri-disabled {
    background: #AEAEAE;
    border-radius: 15px;
}

.btn-sec-normal {
    border: 5px solid #E73A63;
    box-sizing: border-box;
    border-radius: 15px;
}

.btn-sec-press {
    background: rgba(231, 58, 99, 0.25);
    border: 5px solid #E73A63;
    box-sizing: border-box;
    border-radius: 15px;
}

.btn-sec-disabled {
    border: 5px solid #AEAEAE;
    box-sizing: border-box;
    border-radius: 15px;
}

/*Card*/
