.container-home {
    background: #E5E5E5;
    background-color: #14110E;
}

.container-card-res {
    padding: 25px 40px;
    background: #E5E5E5;
    background-color: #14110E;
    display: none;
}

.body-heavy{
    line-height: 50px;
}


/*CAROUSEL*/
.carousel-indicators li {
    width: 15px;
    height: 15px;
    border-radius: 50%;
}

.carousel-indicators .active {
    width: 30px;
    height: 15px;
    border-radius: 50%;
    background-color: #C89E35;
}

.banner-img {
    width: 100%;
    height: 365px;
    object-fit: cover;
    object-position: 50% 50%;
}


/* GRID SYSTEM */
/*Judul Status Kelas*/
.title-class-status {
    margin-bottom: 30px;
    display: inline-block;
}

/*Container grid system*/
.container-grid {
    padding: 30px 50px;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.25);
    mix-blend-mode: normal;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
}

.container-grid-premium{
    background: linear-gradient(180deg, #FECC5D 10%, #FDE3BD 53.12%, #F0A148 100%);
    mix-blend-mode: normal;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/*Judul kelas di dalam grid system*/
.col-title {
    padding-top: 50px;
    padding-left: 0;
    flex: 1 0 15%;
    max-width: 15%;
}

.title-icon {
    margin-bottom: 15px;
}

.title-link {
    position: absolute;
    left: 0px;
    bottom: 20px;
}

.title-link:hover {
    text-decoration: none;
    color: #FFFFFF;
}


/*Card*/
.col-slick {
    flex: 1 0 85%;
    max-width: 85%;
}

.row-slick {
    width: 100%;
    display: inline-block;
    margin-left: 10px;
}

.card-slick {
    background-color: #2F2F2F;
    border: unset;
    height: 350px;
    width: 100%;
    border-radius: 5px;
}

.card-title {
    color: white;
}

.btn-mulai-slick {
    font-weight: bold;
    font-size: 18px;
    color: white;
    background: #E73A63;
    border-radius: 5px;
}

.card-home-event{
    padding: 30px 35px;
    background-color: #2f2f2f;
    height: 500px;
    margin-right: auto;
}

.card-home-event .card-body{
    background: rgba(255, 255, 255, 0.25);
    mix-blend-mode: normal;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 0 0 5px 5px;
}

.card-home-event .card-img-top{
    width: 100%;
    height: 41.67%;
    /* object-position: 50% 50%; */
    object-fit: cover;
}

.card-home-event .card-title{
    margin: 0;
    line-height: 15px;
}

.card-home-event .btn-daftar-event{
    width: 100%;
    border-radius: 5px;
    color: white;
}

.card-home-event .btn-daftar-event:hover{
    color: black;
}

.card-home-event .price-event{
    background: linear-gradient(180deg, #FECC5D 0%, #FE9E32 100%);
    border-radius: 5px 0px 0px 5px;
    line-height: 35px;
    padding-left: 15px;
    padding-right: 15px;
    position: absolute;
    right: 35px;
    top: 32%;

    color: black;
}


/*BOTTOM BANNER*/
.container-bottom-banner{
    background: linear-gradient(180deg, #C89E35 0%, #FE9E32 100%), #C89E35;
    text-align: center;
}

.btn-bottom-banner{
    width: 345px;
    height: 40px;
    border-radius: 5px;
    color: white;
}

.btn-bottom-banner.subheader-heavy{
    line-height: unset;
}

.container-bottom .btn{
    width: 30%;
    margin-top: 2rem;

    font-weight: bold;
    font-size: 1.2rem;
    color: white;

    background: #E73A63;
    border-radius: 5px;
}

/*RESPONSIVE*/
.btn-mulai-res{
    border-radius: 5px;
    height: 15px;
    font-size: 8px;
    line-height: 0px;
    width: 100%;
    color: white;
}

.btn-mulai-res:hover{
    background-color: #B3002B;
    color: white;
}

.lihat-semua-res{
    font-size: 8px;
    justify-content: space-between;
}

.card-home-res{
    padding: 20px 10px;
    background: #2F2F2F;
    margin-bottom: 20px;
}

.card-home-res.premium{
    background: linear-gradient(180deg, #FECC5D 0%, #FE9E32 100%);
    mix-blend-mode: normal;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.card-home-res .card-body{
    padding: 5px 15px;
    background: rgba(255, 255, 255, 0.25);
    mix-blend-mode: normal;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 0 0 5px 5px;
}

.card-home-res .card-title{
    margin-bottom: 5px;
}

.card-home-res.premium .card-body{
    background-color: #2F2F2F;
}

.price-event-res{
    height: 20px;
    width: 150px;
    background: linear-gradient(180deg, #FECC5D 0%, #FE9E32 100%);
    border-radius: 5px 0px 0px 0px;
    text-align: right;
    padding-right: 8px;
    line-height: 20px;
    letter-spacing: 4px;

    position: absolute;
    right: 10px;
    bottom: 103px;
    color: black;

}



@media (max-width: 767px) {
    .container-home {
        padding: 20px 35px;
    }

    .banner-img {
        height: 100px;
        object-position: 50% 50%;
    }

    .carousel-indicators{
        margin: unset;
    }

    .carousel-indicators li {
        width: 5px;
        height: 5px;
    }
    
    .carousel-indicators .active {
        width: 10px;
        height: 5px;
    }

    .container-card-non-res{
        display: none;
    }

    .container-card-res{
        display: block;
    }

    .title-class-status{
        margin-bottom: 15px;
    }

    .btn-bottom-banner{
        width: 140px;
        height: 25px;
        line-height: 5px;
        font-size: 8px;
    }

    .display-heavy.banner-title-res{
        font-size: 12px;
        line-height: unset;
    }

    .card-home-event .price-event{
        border-radius: 5px 0px 0px 0px; 
    }

}


