/*Modal*/


/*Modal Login*/

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

.modal {
    background: #000;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0px;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

.container-input-field {
    margin-bottom: 20px;
    position: relative;
}

.close {
    position: absolute;
    top: 5px;
    right: 20px;
    height: 30px
}

.col-gambar {
    padding-left: 2em;
    padding-top: 8em;
    padding-bottom: 8em;
    flex: 1 0 30%;
    max-width: 30%;
    background-image: url('../img/Banner.png');
    border-radius: 15px 0 0 15px;
}

.col-login {
    flex: 1 0 70%;
    max-width: 70%;
    padding-left: 0;
    border-radius: 15px 15px 0 0;
}

.container-form {
    padding-top: 3em;
    padding-bottom: 3em;
    padding-right: 5em;
    padding-left: 5em;
    background: #FFFFFF;
    border-radius: 0 15px 15px 0;
}

.container-form h1 {
    font-weight: bold;
    font-size: 1.5em;
    line-height: 1.5em;
    color: black;
}

.container-form span {
    margin-left: 0.5em;
    color: #F1B213;
}

.container-form .error-msg {
    color: #B2002B;
    display: none;
    font-size: small;
    margin-top: 14px;
}

.container-form p {
    font-weight: normal;
    font-size: 1em;
    line-height: 1em;
    color: black;
    margin-bottom: 2em;
}

.container-form label {
    display: block;
    font-style: normal;
    font-weight: 600;
    font-size: 1em;
    line-height: 1em;
    color: black;
}

.container-form .text-input {
    display: block;
    width: 100%;
    height: 2.5em;
    border: unset;
    background: #EFEFEF;
    border-radius: 0.4em;
    padding-left: 0.4em;
}

.container-form .input-alamat {
    width: 100%;
    height: 5em;
}

.container-form .remember {
    display: inline;
    margin-right: 15em;
}

.container-form .btn {
    display: block;
    width: 100%;
    margin-top: 1em;
    margin-bottom: 1em;
    background: linear-gradient(180deg, #FECC5D 0%, #FE9E32 100%);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    border-radius: 0.4em;
    color: #fff;
}

.alamat-text {
    margin-bottom: 1.2em;
}

.container-form select {
    display: block;
    width: 100%;
    height: 3em;
    border: none;
    border-radius: 0.4em;
    background: #EFEFEF;
}

.container-form .tc {
    display: inline;
}

.tc span {
    color: red;
    margin-left: 0.5em;
}

.modal-daftar .container-form {
    height: 30rem;
    overflow-y: auto;
}

.show-pass-icon {
    position: absolute;
    top: 22px;
    right: 10px;
}

/*MODAL RESPONSIVE*/
@media (max-width: 767px) {
    .show-pass-icon {
        position: absolute;
        top: 15px;
        right: 5px;

        width: 45px;
        height: auto;
    }

    .close{
        right: 10px;
        top:60px;
    }

    .error-msg{
        text-align: left;
        display: none;
        margin-top: 5px;
    }
}

.modal-login-res, .modal-daftar-res{
    text-align: center;
    background-color:rgba(0, 0, 0, 0.7);
    color: #14110E;
    z-index: 100;

    padding-top: 60px;
    padding-left: 10px;
    padding-right: 10px;
}

.container-content-modal{
    background-color: #FFFFFF;
    padding: 20px 10px;
}

.title-heavy-res span{
    color: #E0AB33;
}

.modal-toggle-res{
    display: inline-block;
    margin-right: 32px;
    margin-left: 32px;
    margin-bottom: 25px;
    padding: 15px;
    padding-bottom: 5px;
}

.modal-toggle-res.active{
    border-bottom: solid 3px #E0AB33;
}

.input-field-res{
    margin-bottom: 12px;
}

.modal-login-res label{
    display: block;
    text-align: left;
}

.modal-daftar-res label{
    display: block;
    text-align: left;
}

.xs-light span{
    color: #E0AB33;
    text-decoration: underline;
}

.modal-login-res input{
    background: #EFEFEF;
    border-radius: 5px;
    border: none;
    padding: 5px;
    width: 100%;
}

.modal-daftar-res input{
    background: #EFEFEF;
    border-radius: 5px;
    border: none;
    padding: 5px;
    width: 100%;
}

.modal-daftar-res select{
    background: #EFEFEF;
    border-radius: 5px;
    border: none;
    padding: 5px;
    width: 100%;
}

.bottom-form input{
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-right: 5px;
}

.bottom-form{
    text-align: left;
}

.bottom-form .caption-light{
    display: inline-block;
}

.btn-gold-sec-normal{
    padding: 5px;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 22px;
}

.btn-gold-sec-normal:disabled{
    opacity: 0.65;
}

.form-daftar-part2{
    position: relative;
    display: none;
}

.form-daftar-part1{
    display: block;
}