.card-membership {
  overflow: hidden;
  border-radius: 1rem;
  display: flex;
  height: 100%;
  flex: 1;

  &__header {
    background-color: $dark-gold;
  }

  &__price-holder {
    background-color: $dark-gold
  }
  &__price {
    font-weight: bold;
    font-size: 18px;
  }

  &__body {
    display: flex;
    flex: 1;

    ol, ul {
      padding-left: 1.25rem;
    }
  }
}