.class-banner {
  padding-bottom: 4rem;


  &__title {
    @include mq(max, 480px) {
      font-size: 12px;
      font-weight: bold;
    }
  }

  &__body {
    background-color: $section-bg;

    @include mq(max, 575px) {
      background-color: transparent;
    }
  }
}