.profile-content {
  position: relative;
  background-color: $section-bg;
  width: 70%;
  max-width: 100%;
  right: 0;
  margin-left: 30%;
  min-height: 600px;

  &__inner {
    max-width: 100%;
    width: 870px;
    padding-left: 3rem;
  }
}