.profile-tab {
  &__nav-link {
    color: #fff;
    text-decoration: none !important;

    &:hover {
      color: $secondary;
    }

    &--active {
      color: $secondary;
      padding-bottom: .5rem;
      border-bottom: 2px solid $secondary;
    }
  }
}