.profile-container {
  position: relative;
  width: 100%;

  .container-fluid {
    height: 600px;

     > .row {
      height: 100%;
    }
  }

  &__right {
    background-color: $section-bg;
    height: 100vh;
  }

  &__main {
    height: 600px;
    width: 100%;
  }
}