.transaction {
  &__header {
    background-color: rgba(200, 158, 53, 0.25);
    color: $white;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    padding-top: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 1rem;
    margin-bottom: 2rem;
  }

  &__price {
    font-size: 32px;
    font-weight: bolder;
    color: $dark-gold;
  }


  &__card {
    &-header {
      background-color:rgba(0, 0, 0, 0.50)
    }
  }

  &__alert {
    &-header {}
    &-body {
      background-color:rgba(0, 0, 0, 0.1)
    }
  }
}